*{
  margin:0;
  padding:0;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background: radial-gradient(circle, #06142f, #000);
  color:white;
}

/* LOGIN */
.login-body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card{
  background:rgba(255,255,255,0.05);
  padding:40px;
  border-radius:15px;
  text-align:center;
  width:320px;
  box-shadow:0 0 25px #00f2ff;
}

.logo{
  width:90px;
  margin-bottom:15px;
}

.login-card input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:5px;
}

.login-card button{
  width:100%;
  padding:10px;
  background:#00f2ff;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

/* NAV */
nav{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:rgba(0,0,0,0.6);
}

.nav-logo{
  width:50px;
}

nav ul{
  list-style:none;
  display:flex;
  gap:30px;
}

nav li{
  cursor:pointer;
  font-weight:500;
}

/* PAGES */
.page{
  display:none;
  padding:60px;
  text-align:center;
}

.active{
  display:block;
}

.tagline{
  opacity:0.8;
  margin-top:10px;
}

/* CARDS */
.cards{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:40px;
}

.card{
  background:linear-gradient(135deg,#00f2ff,#0077ff);
  padding:40px;
  border-radius:15px;
  cursor:pointer;
  width:200px;
  font-weight:bold;
  box-shadow:0 0 20px #00f2ff;
}

/* FORMS */
.form{
  max-width:400px;
  margin:auto;
}

.form input, .form textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.form button{
  padding:10px 30px;
  background:#00f2ff;
  border:none;
}

/* FOUND ITEMS */
.found-list{
  max-width:400px;
  margin:auto;
}

.found-item{
  background:rgba(255,255,255,0.1);
  padding:15px;
  margin:10px 0;
  border-radius:8px;
}
